<form method="post" action="/question/{{ question.id }}" class="form-horizontal well">
    {% csrf_token %}
    <fieldset>
        <legend>I know how to help you</legend>
        <div class="control-group">
            {{ form.text }}
        </div>
        <div class="control-group">
            <input type="submit" value="Submit" class="btn btn-primary">
        </div>
    </fieldset>
</form>