{% for a in result %}
<div class="well right_answer_{{ a.id }}" {% if a.is_right %} style="background-color: lightgreen" {% endif %}>
    <div class="media">
      <div class="pull-left">
        <img class="media-object" data-src="holder.js/64x64" src="{{ a.author.avatar.url }}" style="max-width: 48px; max-height: 48px">
      </div>
      <div class="media-body">
        {{ a.text }}
      </div>
    </div>
    </br>
        <div class="pull-left">
            Author:<a href="/profile/{{ a.author_id }}" style="margin-right: 10px"> {{ a.author.user.username }}</a>
            added: {{ a.add_date }}
        </div>
    {% if not a.is_right and profile.id == question.author_id %}
        <div class="pull-right">
                <input type="button" class="btn btn-success its_right"  id="{{ a.id }}" value="Right"/>
        </div>
    {% endif %}
    </br>
    </br>
    </div>
{% endfor %}