 <div class="navbar navbar-fixed-top">
   <div class="navbar-inner">
     <div class="container">
       <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </a>
       <a class="brand" href="/">ASK-Kolganov</a>
       <div class="nav-collapse collapse">
           <form class="navbar-search pull-left" action="/search" method="get">

            <input type="text" class="search-query span2" name="query" placeholder="Search">
           </form>
        <ul class="nav" id="main-menu-left">
        </ul>
        <ul class="nav pull-right" >

            <li {% if request.path = '/top' %} class="active" {% endif %} >
                <a href="/top" style="margin-right: 20px;">
                    TOP
                </a>
            </li>
            <li {% if request.path = '/latest' %} class="active" {% endif %}>
                <a href="/latest" style="margin-right: 20px;">
                    LATEST
                </a>
            </li>
            <li>
                <a href="/ask" style="margin-right: 20px;">
                    ASK
                </a>
            </li>
            {% if user.is_authenticated %}
            <li><img class="media-object" src="{{ profile.avatar.url|default:'/uploads/no_avatar.jpg' }}" style="max-width: 80px; height: 51px;"></li>
            <li>
                <div class="media" style="padding-left: 5px">
                    <div class="media-body">
                        <h5 class="media-heading" style="color: #ffffff">{{ user.first_name }}</h5>
                        <a href="/profile">settings</a> <a href="/logout?next={{ request.path }}">logout</a>
                    </div>
                </div>
            </li>

            {% else %}
            <li>
                <div class="media" style="padding-left: 5px">
                    <div class="media-body">
                        <h5 class="media-heading" style="color: #ffffff"> Please <a href="/login?next={{ request.path }}">login</a></h5>
                        <span style="color: #ffffff"> or </span> <a href="/signup?next={{ request.path }}">sign up</a>
                    </div>
                </div>
            </li>
            {% endif %}
        </ul>
       </div>
     </div>
   </div>
 </div>
