<div class="pagination">
  <ul>
    {% if result.paginator.num_pages != 1 %}
        <li><a href="{{ request.path }}?page=1{{ query }}">First</a></li>
        {% if result.has_previous %}
            <li><a href="{{ request.path }}?page={{ result.previous_page_number }}{{ query }}">{{ result.previous_page_number }}</a></li>
        {% endif %}
        <li class="active"><a href="?page={{ result.number }}{{ query }}">{{ result.number }}</a></li>
        {% if result.has_next %}
            <li><a href="{{ request.path }}?page={{ result.next_page_number }}{{ query }}">{{ result.next_page_number }}</a></li>
        {% endif %}
            <li><a href="{{ request.path }}?page={{ result.paginator.num_pages }}{{ query }}">Last</a></li>
    {% endif %}
  </ul>
</div>