{% for q in result %}
    <div class="well like_msg_{{ q.id }}">
    <div class="media">
      <div class="pull-left">
        <img class="media-object" data-src="holder.js/64x64" src="{{ q.author.avatar.url }}" style="max-width: 128px; max-height: 128px">
      </div>

      <div class="media-body">
        <a href="/question/{{ q.id }}">
            <h4 class="media-heading">{{ q.title }}</h4>
        </a>
        {{ q.text }}
      </div>
    </div>
        </br>

        <input type="button" class="btn btn-success like"  id="{{ q.id }}" value="({{ q.likes | length }}) likes"/>
        <div class="pull-right">

        <a href="/question/{{ q.id }}" style="margin-right: 10px">answers ({{ q.answers | length }})</a> tags:
            {% for t in q.tags.all %}
                <a href="/">{{ t.word }}</a>
            {% endfor %}
         </br>
        added: {{ q.add_date }}
        </div>
    </div>
{% endfor %}

