{% extends "base.html" %}
{% block content %}

<form method="post" action="/ask" class="form-horizontal well">
    {% csrf_token %}
        {% if errors.title %}
            <div class="control-group error">
                {{ form.title.label_tag }}
                {{ form.title }}
                <span class="help-inline"> {{ errors.title }}</span>
            </div>
        {% else %}
            <div class="control-group">
                {{ form.title.label_tag }}
                {{ form.title }}
            </div>
        {% endif %}
            {% if errors.text %}
            <div class="control-group error">
                {{ form.text.label_tag }}
                {{ form.text }}
                <span class="help-inline"> {{ errors.text }}</span>
            </div>
        {% else %}
            <div class="control-group">
                {{ form.text.label_tag }}
                {{ form.text }}
            </div>
        {% endif %}

    <div class="control-group">
    {{ form.tags.label_tag }}
    {{ form.tags }}
    </div>
    <div class="control-group">
    <input type="submit" value="Submit" class="btn btn-primary">
    </div>
</form>
{% endblock %}

