{% load tops %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
     <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <title>Ask</title>
</head>
<body>
<script type="text/javascript" src="/js/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="/js/my_scripts.js"></script>

  {% include "addons/header.html" %}
  <div class="container">
   <div class="row">
    <div class="span8 main">
     {% block content %}
     {% endblock %}
    </div>
    <div class="span4">
        {% top_tag %}
        {% top_user %}
    </div>
   </div>
  </div>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
</body>
</html>