{% extends "base.html" %}
{% block content %}
<form method="post" action="/login" class="form-horizontal well">
    {% csrf_token %}
    <fieldset>
        <legend>Login form</legend>
    {% if error %}
        <div class="alert alert-error">
            {{ error }}
        </div>
    {% endif %}
            <div class="control-group">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div class="control-group">
                {{ form.password.label_tag}}
                {{ form.password }}
            </div>
        <div class="control-group">
            <input type="submit" value="Submit" class="btn btn-primary">
        </div>
        <input type="hidden" name="next" value="{{ request.GET.next }}" />
    </fieldset>

</form>

{% endblock %}