
{% extends "base.html" %}
{% block content %}
<div class="well">
    <div class="media">
      <div class="pull-left">
        <img class="media-object" data-src="holder.js/64x64" src="{{ v_profile.avatar.url }}" style="max-width: 128px; max-height: 128px">
      </div>

      <div class="media-body">

        <h4 class="media-heading">{{ v_profile.user.username }}</h4>
        <h6>First_name: {{ v_profile.user.first_name }}</h6>
          <h6>Last_name: {{ v_profile.user.last_name }}</h6>
          <h6>email: {{ v_profile.user.email }}</h6>
          <h6>rating: {{ v_profile.rating }}</h6>
      </div>
    </div>
</div>
{% endblock %}r