{% extends "base.html" %}
{% block content %}
    <div class="well like_msg_{{ question.id }}">
    <div class="media">
      <div class="pull-left">
        <img class="media-object" data-src="holder.js/64x64" src="{{ question.author.avatar.url }}" style="max-width: 128px; max-height: 128px">
      </div>

      <div class="media-body">
        <a>
            <h4 class="media-heading">{{ question.title }}</h4>
        </a>
        {{ question.text }}
      </div>

    </div>
        </br>
        <input type="button" class="btn btn-success like"  id="{{ question.id }}" value="({{ question.likes | length }}) likes"/>
        <div class="pull-right">
        author: <a href="/profile/{{ question.author_id }}" style="margin-right: 10px">{{ question.author.user.username }}</a>
        </br>
            tags:
        {% for t in question.tags.all %}
            <a href="/">{{ t.word }}</a>
        {% endfor %}
        </div>
    </div>
    {% include "addons/answers.html" %}
    {% include "addons/pagination.html" %}
    {% if profile.id != question.author_id and user.is_authenticated %}
        {% include "addons/answerForm.html" %}
    {% endif %}
{% endblock %}
