{% extends "base.html" %}
{% block content %}
    <form action="/profile" method="post" class="form-horizontal well" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
        <legend>Profile settings</legend>
        {% if errors.first_name %}
            <div class="control-group error">
                {{ form.first_name.label_tag}}
                {{ form.first_name }}
                <span class="help-inline"> {{ errors.first_name }} </span>
            </div>
        {% else %}
            <div class="control-group">
                {{ form.first_name.label_tag}}
                {{ form.first_name }}
            </div>
        {% endif %}
        {% if errors.last_name %}
            <div class="control-group error">
                {{ form.last_name.label_tag}}
                {{ form.last_name }}
                <span class="help-inline"> {{ errors.last }} </span>
            </div>
        {% else %}
            <div class="control-group">
                {{ form.last_name.label_tag}}
                {{ form.last_name }}
            </div>
        {% endif %}
        {% if errors.password %}
            <div class="control-group error">
                {{ form.password.label_tag}}
                {{ form.password }}
                <span class="help-inline"> {{ errors.password }} </span>
            </div>
        {% else %}
            <div class="control-group">
                {{ form.password.label_tag}}
                {{ form.password }}
            </div>
        {% endif %}

        {% if errors.password %}
            <div class="control-group error">
                {{ form.password.label_tag}}
                {{ form.password }}
                <span class="help-inline"> {{ errors.password }} </span>
            </div>
        {% else %}
            <div class="control-group">
                {{ form.password.label_tag}}
                {{ form.password }}
            </div>
        {% endif %}

        {% if errors.avatar %}
            <div class="control-group error">
                {{ form.avatar.label_tag}}
                {{ form.avatar }}
                <span class="help-inline"> {{ errors.avatar }} </span>
            </div>
        {% else %}
            <div class="control-group">
                Current avatar:
                <img class="media-object" src="{{ profile.avatar.url|default:'/uploads/no_avatar.jpg' }}" style="max-width: 80px; height: 51px;">
                </br>
                New avatar:
                {{ form.avatar }}
            </div>
        {% endif %}

        <div class="control-group">
            <input type="submit" value="Submit" class="btn btn-primary">
        </div>
            <input type="hidden" name="next" value="{{ request.GET.next }}" />
        </fieldset>

    </form>
{% endblock %}