{% extends "base.html" %}
{% block content %}
    <form action="/signup" method="post" class="form-horizontal well" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
        <legend>Login form</legend>


        {% if errors.username %}
            <div class="control-group error">
                {{ form.username.label_tag }}
                {{ form.username }}
                <span class="help-inline"> {{ errors.username }}</span>
            </div>
        {% else %}
            <div class="control-group">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
        {% endif %}



        {% if errors.first_name %}
            <div class="control-group error">
                {{ form.first_name.label_tag}}
                {{ form.first_name }}
                <span class="help-inline"> {{ errors.first_name }} </span>
            </div>
        {% else %}
            <div class="control-group">
                {{ form.first_name.label_tag}}
                {{ form.first_name }}
            </div>
        {% endif %}
        {% if errors.last_name %}
            <div class="control-group error">
                {{ form.last_name.label_tag}}
                {{ form.last_name }}
                <span class="help-inline"> {{ errors.last }} </span>
            </div>
        {% else %}
            <div class="control-group">
                {{ form.last_name.label_tag}}
                {{ form.last_name }}
            </div>
        {% endif %}
        {% if errors.password %}
            <div class="control-group error">
                {{ form.password.label_tag}}
                {{ form.password }}
                <span class="help-inline"> {{ errors.password }} </span>
            </div>
        {% else %}
            <div class="control-group">
                {{ form.password.label_tag}}
                {{ form.password }}
            </div>
        {% endif %}

        {% if errors.password %}
            <div class="control-group error">
                {{ form.password.label_tag}}
                {{ form.password }}
                <span class="help-inline"> {{ errors.password }} </span>
            </div>
        {% else %}
            <div class="control-group">
                {{ form.password.label_tag}}
                {{ form.password }}
            </div>
        {% endif %}
        {% if errors.email %}
            <div class="control-group error">
                {{ form.email.label_tag}}
                {{ form.email }}
                <span class="help-inline"> {{ errors.email }} </span>
            </div>
        {% else %}
            <div class="control-group">
                {{ form.email.label_tag}}
                {{ form.email }}
            </div>
        {% endif %}
        {% if errors.avatar %}
            <div class="control-group error">
                {{ form.avatar.label_tag}}
                {{ form.avatar }}
                <span class="help-inline"> {{ errors.avatar }} </span>
            </div>
        {% else %}
            <div class="control-group">
                {{ form.avatar.label_tag}}
                {{ form.avatar }}
            </div>
        {% endif %}

        <div class="control-group">
            <input type="submit" value="Submit" class="btn btn-primary">
        </div>
            <input type="hidden" name="next" value="{{ request.GET.next }}" />
        </fieldset>

    </form>
{% endblock %}